---
layout: base.liquid
---
<style>
    .homeText {
        font-family: 'Comic Sans MS', 'Papyrus', sans-serif;
        font-size: 32px;
        font-weight: bold;
        fill: red;
    }
</style>

<!DOCTYPE html>
<html>
<head>
    <style>
        #filterContainer {
            display: block; /* Initially visible */
        }

        .filterDisabled {
            pointer-events: none;
            opacity: 0.2;
        }
    </style>
</head>
<body>


<div id="basemap"></div>

<div class="mapOverlay">
    <nav>
        <ol>
            <li><a class="overviewLink" href="#overview">Overview</a></li>
            <li><a class="overviewLink" href="#s-1">1<span>Introduction</span></a></li>
            <li><a class="overviewLink" href="#s-2" data-slideId="500">2<span>Homelands</span></a></li>
            <li><a class="overviewLink" href="#s-3" data-slideId="600">3<span>Pathways</span></a></li>
            <li><a class="overviewLink" href="#s-4" data-slideId="800">4<span>Villagers, Settlers</span></a></li>
            <li><a class="overviewLink" href="#s-5" data-slideId="900">5<span>Lines</span></a></li>
            <!--  -->
            <li><a class="overviewLink" href="#s6-end" data-slideId="1000">Explore </a></li>
        </ol>
    </nav>


    <section id="overview">
        <article class="storyTitle">
            <h2>Overview</h2>
        </article>
        {% renderFile "./stories/overview.md", "liquid" %}

        <div class="article_spacer">&nbsp;</div>
    </section>

    <section id="s-1">
        <article class="storyTitle">
            <h2>Introduction</h2>
        </article>
        <div class="article_spacer">&nbsp;</div>
        {% renderFile "./stories/introduction.md", "liquid" %}
    </section>

    <section id="s-2" class="sectionContainer">

        <div class="storyTitleSpacerAbove" id="s2-start"></div>
        <article id="slide_500" data-slideId="500" class="storyTitle mapSlide">
            <h2>Homelands</h2>
        </article>
        <div class="article_spacer">&nbsp;</div>
        <div class="storyTitleSpacerBelow"></div>
        {% renderFile "./stories/homelands.md", "liquid" %}
    </section>
    <section id="s-3" class="sectionContainer">
        <div class="storyTitleSpacerAbove"></div>
        <article id="slide_600" data-slideId="600" class="storyTitle mapSlide">
            <h2>Pathways
                <span>connections between places and peoples</span>
            </h2>
        </article>
        <div class="article_spacer">&nbsp;</div>
        <div class="storyTitleSpacerBelow"></div>
        {% renderFile "./stories/pathways.md", "liquid" %}
    </section>
    <section id="s-4" class="sectionContainer">
        <div class="storyTitleSpacerAbove" id="s4-start"></div>
        <article class="storyTitle mapSlide" id="slide_700" data-slideId="800">
            <h2>Villagers, Settlers</h2>
        </article>
        <div class="article_spacer">&nbsp;</div>
        <div class="storyTitleSpacerBelow"></div>
        {% renderFile "./stories/villagers_settlers.md", "liquid" %}
    </section>
    <section id="s-5" class="sectionContainer">
        <div class="storyTitleSpacerAbove" id="s5-start"></div>
        <article class="storyTitle mapSlide" id="slide_900" data-slideId="900">
            <h2>Lines</h2>
        </article>
        <div class="article_spacer">&nbsp;</div>
        <div class="storyTitleSpacerBelow"></div>
        {% renderFile "./stories/lines.md", "liquid" %}
    </section>

    <section id="filters" class="sectionContainer">
        <div class="storyTitleSpacerAbove" id="s6-start"></div>
        <article class="storyTitle mapSlide" id="slide_1000" data-slideId="1000">
            <h2>Explore</h2>
            <p>Customize your search using the filters below.
                Choose the map images or feature icons to enable the filters you require.
            </p>
        </article>

        <div id="s6-end" class="article_spacer">&nbsp;</div>
        <div class="storyTitleSpacerBelow"></div>
    </section>
</div>

<div id="filter-wrapper">
    <a href="#s6-end"></a>
    <input type="checkbox" id="filter">
    <label aria-label="filter list" id="filter-button" class="filter-button" for="filter">
        <h2>Filter</h2>
    </label>

    <div class="content">
        <p>Click maps to show features. Use feature list to choose features displayed. Select or deselect all if
            needed.</p>

        <section id="mapFilters">
            <header><h3>Maps <em><span id="totalMapFiltersApplied">0</span>/9 Selected</em></h3>
                <span><input type="checkbox" id="selectallMaps" name="selectall" value="All">
                <label for="selectallMaps">Select All</label></span>
            </header>
            <ol>
                <li><input type="checkbox" data-featuretype="all" data-criteria="map_source" data-filtervalue="1"
                           class="map_selector" id="mapcheckbox1"/>
                    <label for="mapcheckbox1">
                        <img src="../assets/img/map-thumbs/1590-White.jpg" alt=""/><span>1590 <em>White</em></span>
                    </label>
                <li><input type="checkbox" data-featuretype="all" data-criteria="map_source" data-filtervalue="3"
                           class="map_selector" id="mapcheckbox2"/>
                    <label for="mapcheckbox2">
                        <img src="../assets/img/map-thumbs/1676-Seller.jpg" alt=""><span>1676 <em>Seller</em></span>
                    </label>
                </li>
                <li><input type="checkbox" data-featuretype="all" data-criteria="map_source" data-filtervalue="5"
                           class="map_selector" id="mapcheckbox3"/>
                    <label for="mapcheckbox3">
                        <img src="../assets/img/map-thumbs/1677-Foster.jpg" alt=""><span>1677 <em>Foster</em></span>
                    </label>
                </li>
                <li><input type="checkbox" data-featuretype="all" data-criteria="map_source" data-filtervalue="6"
                           class="map_selector" id="mapcheckbox4"/>
                    <label for="mapcheckbox4">
                        <img
                                src="../assets/img/map-thumbs/1720-Moll.jpg" alt=""/><span>1720 <em>Moll</em></span>
                    </label>
                </li>
                <li><input type="checkbox" data-featuretype="all" data-criteria="map_source" data-filtervalue="7"
                           class="map_selector" id="mapcheckbox5"/>
                    <label for="mapcheckbox5">
                        <img src="../assets/img/map-thumbs/1738-Burghers.jpg" alt=""><span>1738 <em>Burghers</em></span>
                    </label>
                </li>
                <li><input type="checkbox" data-featuretype="all" data-criteria="map_source" data-filtervalue="8"
                           class="map_selector" id="mapcheckbox6"/>
                    <label for="mapcheckbox6">
                        <img src="../assets/img/map-thumbs/1752-Evans.jpg" alt=""><span>1752 <em>Evans</em></span>
                    </label>
                </li>
                <li><input type="checkbox" data-featuretype="all" data-criteria="map_source" data-filtervalue="12"
                           class="map_selector" id="mapcheckbox7"/>
                    <label for="mapcheckbox7">
                        <img
                                src="../assets/img/map-thumbs/1755-Mitchell.jpg"
                                alt=""/><span>1755 <em>Mitchell</em></span>
                    </label>
                </li>
                <li><input type="checkbox" data-featuretype="all" data-criteria="map_source" data-filtervalue="17"
                           class="map_selector" id="mapcheckbox8"/>
                    <label for="mapcheckbox8">
                        <img src="../assets/img/map-thumbs/1784-Buell.jpg" alt=""/><span>1784 <em>Buell</em></span>
                    </label>
                </li>
                <li><input type="checkbox" data-featuretype="all" data-criteria="map_source" data-filtervalue="19"
                           class="map_selector" id="mapcheckbox9"/>
                    <label for="mapcheckbox9">
                        <img src="../assets/img/map-thumbs/1796-Bradley.jpg" alt=""/><span>1796 <em>Bradley</em></span>
                    </label>
                </li>


            </ol>
        </section>

        <section id="featureFilters" class="filterDisabled">
            <header><h3>Features <em><span id="totalExploreFiltersApplied">0</span>/12 Selected</em></h3>
                <span><input type="checkbox" id="selectallFeatures" name="selectall" value="All">
                <label for="selectallFeatures">Select All</label></span>
            </header>

            <ol>

                <li><input type="checkbox" data-featuretype="all" data-criteria="map_filter"
                           data-filtervalue='{"sub_type":4, "identity":[2]}'
                           class="explore_filter" id="checkbox1"/>
                    <label for="checkbox1">
                        <img src="{{ '/assets/img/stories/cross_turquoise.webp' | url }}" alt=""/><span>Settlements (Indigenous)</span>
                    </label>
                </li>
                <li><input type="checkbox" data-featuretype="all" data-criteria="map_filter"
                           data-filtervalue='{"sub_type":4, "identity":[1]}'
                           class="explore_filter" id="checkbox2"/>
                    <label for="checkbox2">
                        <img src="{{ '/assets/img/stories/cross_purple.webp' | url }}" alt=""/><span>Settlements (European)</span>
                    </label>
                </li>
                <li><input type="checkbox" data-featuretype="all" data-criteria="map_filter"
                           data-filtervalue='{"sub_type":10, "identity":[2]}'
                           class="explore_filter" id="checkbox3"/>
                    <label for="checkbox3">
                        <img src="{{ '/assets/img/stories/circle_turquoise.webp' | url }}" alt=""/><span>Placenames (Indigenous)</span>
                    </label>
                </li>
                <li><input type="checkbox" data-featuretype="all" data-criteria="map_filter"
                           data-filtervalue='{"sub_type":10, "identity":[1]}'
                           class="explore_filter" id="checkbox4"/>
                    <label for="checkbox4">
                        <img src="{{ '/assets/img/stories/circle_purple.webp' | url }}" alt=""/><span>Placenames (European)</span>
                    </label>
                </li>
                <li><input type="checkbox" data-featuretype="all" data-criteria="map_filter"
                           data-filtervalue='{"sub_type":12, "identity":[0]}'
                           class="explore_filter" id="checkbox5"/>
                    <label for="checkbox5">
                        <img src="{{ '/assets/img/stories/council-fire.webp' | url }}" alt=""/><span>Council Fires</span>
                    </label>
                </li>
                <li><input type="checkbox" data-featuretype="all" data-criteria="map_filter"
                           data-filtervalue='{"sub_type":11, "identity":[3]}'
                           class="explore_filter" id="checkbox6"/>
                    <label for="checkbox6">
                        <img src="{{ '/assets/img/stories/diagonal-hatch-green-427D67.webp' | url }}" alt=""/><span>Haudenosaunee related annotations</span>
                    </label>
                </li>
                <li><input type="checkbox" data-featuretype="all" data-criteria="map_filter"
                           data-filtervalue='{"sub_type":11, "identity":[2]}'
                           class="explore_filter" id="checkbox7"/>
                    <label for="checkbox7">
                        <img src="{{ '/assets/img/stories/region_turquoise.webp' | url }}" alt=""/><span>Other indigenous related annotations</span>
                    </label>
                </li>
                <li><input type="checkbox" data-featuretype="all" data-criteria="map_filter"
                           data-filtervalue='{"sub_type":11, "identity":[1]}'
                           class="explore_filter" id="checkbox8"/>
                    <label for="checkbox8">
                        <img src="{{ '/assets/img/stories/diagonal_hatching_purple.webp' | url }}" alt=""/><span>European related annotations</span>
                    </label>
                </li>
                <li><input type="checkbox" data-featuretype="all" data-criteria="map_filter"
                           data-filtervalue='{"sub_type":14, "identity":[0]}'
                           class="explore_filter" id="checkbox9"/>
                    <label for="checkbox9">
                        <img src="{{ '/assets/img/stories/region_purple.webp' | url }}" alt=""/><span>Colonial domains</span>
                    </label>
                </li>
                <li><input type="checkbox" data-featuretype="all" data-criteria="map_filter"
                           data-filtervalue='{"sub_type":7, "identity":[0]}'
                           class="explore_filter" id="checkbox10"/>
                    <label for="checkbox10">
                        <img src="{{ '/assets/img/stories/vertical_hatch_grey_8C8C8C.webp' | url }}" alt=""/><span>Descriptions</span>
                    </label>
                </li>
                <li><input type="checkbox" data-featuretype="all" data-criteria="map_filter"
                           data-filtervalue='{"sub_type":8, "identity":[0]}'
                           class="explore_filter" id="checkbox11"/>
                    <label for="checkbox11">
                        <img src="{{ '/assets/img/stories/principal_rivers.webp' | url }}" alt=""/><span>Rivers</span>
                    </label>
                </li>
                <li><input type="checkbox" data-featuretype="all" data-criteria="map_filter"
                           data-filtervalue='{"sub_type":5, "identity":[0]}'
                           class="explore_filter" id="checkbox12"/>
                    <label for="checkbox12">
                        <img src="{{ '/assets/img/stories/pathways.webp' | url }}" alt=""/><span>Pathways</span>
                    </label>
                </li>
                <li><input type="checkbox" data-featuretype="all" data-criteria="map_filter"
                           data-filtervalue='{"sub_type":3, "identity":[1]}'
                           class="explore_filter" id="checkbox13"/>
                    <label for="checkbox13">
                        <img src="{{ '/assets/img/stories/boundary.webp' | url }}" alt=""/><span>Boundaries</span>
                    </label>
                </li>
            </ol>
        </section>
    </div>

    <label aria-label="filter list" class="filter-button-bottom" for="filter">
        <h2></h2>
    </label>

</div>

<div id="legend-wrapper">
    <input type="checkbox" id="legend">
    <label aria-label="map legend list" class="legend-button" for="legend">
        <h2>Legend</h2>
    </label>
    <div class="content">

<table>
  <tr>
    <td>&nbsp;&nbsp;</td>
    <td><img style="height: 1em;" src="{{ '/assets/img/stories/cross_turquoise.webp' | url }}"></img></td>
    <td>Settlement (Indigenous)</td>
  </tr>
  <tr>
    <td>&nbsp;&nbsp;</td>
    <td><img style="height: 1em;" src="{{ '/assets/img/stories/cross_purple.webp' | url }}"></img></td>
    <td>Settlement (European)</td>
  </tr>
  <tr>
    <td>&nbsp;&nbsp;</td>
    <td><img style="height: 1em;" src="{{ '/assets/img/stories/circle_turquoise.webp' | url }}"></img></td>
    <td>Placename (Indigenous)</td>
  </tr>
  <tr>
    <td>&nbsp;&nbsp;</td>
    <td><img style="height: 1em;" src="{{ '/assets/img/stories/circle_purple.webp' | url }}"></img></td>
    <td>Placename (European)</td>
  </tr>
  <tr>
    <td>&nbsp;&nbsp;</td>
    <td><img style="height: 1em;opacity:0.3;" src="{{ '/assets/img/stories/region_turquoise.webp' | url }}"></img></td>
    <td>Annotation (Indigenous-related)</td>
  </tr>
  <tr>
    <td>&nbsp;&nbsp;</td>
    <td><img style="height: 1em;" src="{{ '/assets/img/stories/haudenosaunee-hatch-30-pc-fill-turquoise.webp' | url }}"></img></td>
    <td>Annotation (Haudenosaunee-related)</td>
  </tr>
  <tr>
    <td>&nbsp;&nbsp;</td>
    <td><img style="height: 1em;" src="{{ '/assets/img/stories/diagonal_hatching_purple.webp' | url }}"></img></td>
    <td>Annotation (European-related)</td>
  </tr>
  <tr>
    <td>&nbsp;&nbsp;</td>
    <td><img style="height: 1em;opacity:0.3" src="{{ '/assets/img/stories/region_purple.webp' | url }}"></img></td>
    <td>Colonial domain</td>
  </tr>
  <tr>
    <td>&nbsp;&nbsp;</td>
    <td><img style="height: 1em;" src="{{ '/assets/img/stories/principal_rivers.webp' | url }}"></img></td>
    <td>River</td>
  </tr>
  <tr>
    <td>&nbsp;&nbsp;</td>
    <td><img style="height: 1em;" src="{{ '/assets/img/stories/pathways.webp' | url }}"></img></td>
    <td>Pathway</td>
  </tr>
  <tr>
    <td>&nbsp;&nbsp;</td>
    <td><img style="height: 1em;" src="{{ '/assets/img/stories/boundary.webp' | url }}"></img></td>
    <td>Boundary</td>
  </tr>
  <tr>
    <td>&nbsp;&nbsp;</td>
    <td><img style="height: 1em;" src="{{ '/assets/img/stories/council-fire.webp' | url }}"></img></td>
    <td>Council fire</td>
  </tr>
</table>


    </div>
</div>


</div>

<script defer type="text/javascript" src="{{ '/assets/node_modules/leaflet/dist/leaflet.js' | url }}"></script>
<script defer type="text/javascript" src="{{ '/assets/node_modules/leaflet-dvf/dist/leaflet-dvf.js' | url }}"></script>
<script defer type="text/javascript" src="{{ '/assets/js/leaflet/plugins/leaflet.textpath.js' | url }}"></script>
<script defer type="text/javascript"
        src="{{ '/assets/js/leaflet/plugins/leaflet-polygon.fillPattern.js' | url }}"></script>
<script defer type="text/javascript" src="{{ '/assets/node_modules/d3/dist/d3.min.js' | url }}"></script>

<script>

    let startLat = {{ bounds[0].lat }};
    let startLng = {{ bounds[0].lng }};
    let startZoom = {{ bounds[0].zoom }};

    errorobj = null;
    let storyURIs = {
        storyFrame: "{{ '/assets/json/BCC_storyframe.json' | url }}",
        slides: "{{ '/assets/json/BCC_slides.json' | url }}",
        lines: "{{ '/assets/json/BCC_lines.json' | url }}",
        points: "{{ '/assets/json/BCC_points.json' | url }}",
        polys: "{{ '/assets/json/BCC_polys.json' | url }}",
        indigenous: "{{ '/assets/json/indigenous_territories.json' | url }}",
        homelands: "{{ '/assets/json/BCC_homelands.json' | url }}",

    }
    //loadStoryMap(storyURIs, L, d3, startLat, startLng, startZoom);
</script>

<script defer type="text/javascript" src="{{ '/assets/js/bcc/main.js' | url }}"></script>


<script>
    // this is for toggle show and hide, not smaller toggle
    /*

    // "Apply to All" toggle for Filters One, for the Map
    const checkboxesOne = document.querySelectorAll(".explore_filter");
    const toggleAllFeatures = document.getElementById("selectallFeatures");
    const toggleAllMaps = document.getElementById("selectallMaps");

    function applyMapFilter(filterValue) {
        const values = filterValue.split('-');
        const start = parseInt(values[0]);
        const end = parseInt(values[1]);

        if (!isNaN(start) && !isNaN(end)) {
            for (let i = start; i <= end; i++) {
                // this is the trigger function where to trigger a range of 1-19 value
                console.log(`Applying filter to map with value ${i} for Filters One`);
            }
        } else {
            console.log("Invalid filter range");
        }
    }

    toggleAllFeatures.addEventListener("change", function () {
        const applyToAll = toggleAllFeatures.checked;
        document.querySelectorAll(".explore_filter").forEach(checkbox => {
            checkbox.checked = applyToAll;
            applyMapFilter(checkbox.getAttribute("data-filtervalue"));
        });
    });

    checkboxesOne.forEach(checkbox => {
        checkbox.addEventListener("change", function () {
            applyMapFilter(checkbox.getAttribute("data-filtervalue"));
        });
    });*/
</script>


</body>
</html>
