---
layout: base.liquid
---
<style>
    .homeText {
        font-family: 'Comic Sans MS', 'Papyrus', sans-serif;
        font-size: 32px;
        font-weight: bold;
        fill: red;
    }
</style>

<!DOCTYPE html>
<html>
<head>
    <style>
        #filterContainer {
            display: block; /* Initially visible */
        }
    </style>
</head>
<body>


<div id="basemap"></div>

<div class="mapOverlay">
    <nav>
        <ol>
            <li><a class="overviewLink" href="#overview" >Overview</a></li>
            <li><a class="overviewLink" href="#s-1">1<span>Introduction</span></a></li>
            <li><a class="overviewLink" href="#s-2" data-slideId="500">2<span>Homelands</span></a></li>
            <li><a class="overviewLink" href="#s-3" data-slideId="600">3<span>Pathways</span></a></li>
            <li><a class="overviewLink" href="#s-4" data-slideId="700">4<span>Villagers, Settlers</span></a></li>
            <li><a class="overviewLink" href="#s-5" data-slideId="900">5<span>Lines</span></a></li>
            <li><a class="overviewLink" href="#filters">Explore </a></li>
        </ol>
    </nav>


    <section id="overview">
        <article class="storyTitle">
            <h2>Overview</h2>
        </article>
        {% renderFile "./stories/overview.md", "liquid" %}

        <div class="article_spacer">&nbsp;</div>
    </section>

    <section id="s-1">
        <article class="storyTitle">
            <h2>Introduction</h2>
        </article>
        <div class="article_spacer">&nbsp;</div>
        {% renderFile "./stories/introduction.md", "liquid" %}
    </section>

    <section id="s-2" class="sectionContainer" >

        <div class="storyTitleSpacerAbove" id="s2-start"></div>
        <article id="slide_500" data-slideId="500" class="storyTitle mapSlide">
            <h2>Homelands</h2>
        </article>
        <div class="article_spacer">&nbsp;</div>
        <div class="storyTitleSpacerBelow"></div>
        {% renderFile "./stories/homelands.md", "liquid" %}
    </section>
    <section id="s-3" class="sectionContainer" >
        <div class="storyTitleSpacerAbove"></div>
        <article id="slide_600" data-slideId="600" class="storyTitle mapSlide">
            <h2>Pathways
                <span>connections between places and peoples</span>
            </h2>
        </article>
        <div class="article_spacer">&nbsp;</div>
         <div class="storyTitleSpacerBelow"></div>
        {% renderFile "./stories/pathways.md", "liquid" %}
    </section>
    <section id="s-4" class="sectionContainer" >
        <div class="storyTitleSpacerAbove" id="s4-start"></div>
        <article class="storyTitle mapSlide" id="slide_700" data-slideId="700" >
            <h2>Villagers, Settlers</h2>
        </article>
        <div class="article_spacer">&nbsp;</div>
         <div class="storyTitleSpacerBelow"></div>
        {% renderFile "./stories/villagers_settlers.md", "liquid" %}
    </section>
    <section id="s-5" class="sectionContainer" >
        <div class="storyTitleSpacerAbove" id="s5-start"></div>
        <article class="storyTitle mapSlide" id="slide_900" data-slideId="900" >
            <h2>Lines</h2>
        </article>
        <div class="article_spacer">&nbsp;</div>
         <div class="storyTitleSpacerBelow"></div>
        {% renderFile "./stories/lines.md", "liquid" %}
    </section>

    <section id="filters">
        <article class="storyTitle mapSlide">
            <h2>Explore</h2>
        </article>
        <article>
            <p>Customize your search using the filters below.
                Choose the map images or feature icons to enable the filters you require.
            </p>
        </article>
         <div class="storyTitleSpacerBelow"></div>
         <div class="storyTitleSpacerBelow"></div>
         <div class="storyTitleSpacerBelow"></div>

    </section>
</div>

    <div id="filter-wrapper">
        <input type="checkbox" id="filter">
        <label aria-label="filter list" class="filter-button" for="filter">
          <h2>Filter</h2>
        </label>
        <div class="content">
<p>Click on the individual features or maps to customise your view. Select or deselect all if needed.</p>
<section>
 <header><h3>Features <em><span id="totalExploreFiltersApplied">0</span>/7 Selected</em></h3>
 <span><input type="checkbox" id="selectallFeatures" name="selectall" value="All">
<label for="selectallFeatures">Select All</label></span>
 </header>

 <ol>

        <li><input type="checkbox" data-featuretype="all" data-criteria="map_filter" data-filtervalue='{"sub_type":10, "identity":[2]}'
                   class="explore_filter" id="checkbox1"/>
            <label for="checkbox1">
                <img src="https://static.thenounproject.com/png/717161-200.png" alt="" /><span>Placenames (Indigenous)</span>
            </label>
        </li>
        <li><input type="checkbox" data-featuretype="all" data-criteria="map_filter" data-filtervalue='{"sub_type":10, "identity":[1]}'
                   class="explore_filter" id="checkbox2"/>
            <label for="checkbox2">
                <img
                        src="https://static.thenounproject.com/png/1779673-200.png" alt="" /><span>Placenames (European)</span>
            </label>
        </li>
        <li><input type="checkbox" data-featuretype="all" data-criteria="map_filter" data-filtervalue='{"sub_type":4, "identity":[2]}'
                   class="explore_filter" id="checkbox3"/>
            <label for="checkbox3">
                <img src="https://static.thenounproject.com/png/3957514-200.png" alt="" /><span>Settlements (Indigenous)</span>
            </label>
        </li>
        <li><input type="checkbox" data-featuretype="all" data-criteria="map_filter" data-filtervalue='{"sub_type":4, "identity":[1]}'
                   class="explore_filter" id="checkbox4"/>
            <label for="checkbox4">
                <img src="https://static.thenounproject.com/png/1461154-200.png" alt="" /><span>Settlements (European)</span>
            </label>
        </li>
        <li><input type="checkbox" data-featuretype="all" data-criteria="map_filter" data-filtervalue='{"sub_type":13, "identity":[0]}'
                   class="explore_filter" id="checkbox5"/>
            <label for="checkbox5">
                <img
                        src="https://static.thenounproject.com/png/2615726-200.png" alt="" /><span>Principal Rivers</span>
            </label>
        </li>
        <li><input type="checkbox" data-featuretype="all" data-criteria="map_filter" data-filtervalue='{"sub_type":3, "identity":[0]}'
                   class="explore_filter" id="checkbox6"/>
            <label for="checkbox6">
                <img src="https://static.thenounproject.com/png/4256430-200.png" alt="" /><span>Pathways and Lines</span>
            </label>
        </li>
        <li><input type="checkbox" data-featuretype="all" data-criteria="map_filter" data-filtervalue='{"sub_type":12, "identity":[0]}'
                   class="explore_filter" id="checkbox8"/>
            <label for="checkbox8">
                <img
                        src="https://static.thenounproject.com/png/2631029-200.png" alt="" /><span>Council Fires</span>
            </label>
        </li>
 </ol>
      </section>
 <section>
     <header><h3>Maps <em><span id="totalMapFiltersApplied">0</span>/17 Selected</em></h3>
 <span><input type="checkbox" id="selectallMaps" name="selectall" value="All">
<label for="selectallMaps">Select All</label></span>
 </header>
                <ol>
                    <li><input type="checkbox" data-featuretype="all" data-criteria="map_source" data-filtervalue="1"
                               class="map_selector" id="mapcheckbox1"/>
                        <label for="mapcheckbox1">
                            <img src="../assets/img/map-thumbs/1590-White.jpg" alt="" /><span>1590 <em>White</em></span>
                        </label>
                    </li>
                    <li><input type="checkbox" data-featuretype="all" data-criteria="map_source" data-filtervalue="2"
                               class="map_selector" id="mapcheckbox2"/>
                        <label for="mapcheckbox2">
                            <img
                                    src="../assets/img/map-thumbs/1650-Bleau.jpg" alt="" /><span>1650 <em>Bleau</em></span>
                        </label>
                    </li>
                    <li><input type="checkbox" data-featuretype="all" data-criteria="map_source" data-filtervalue="3"
                               class="map_selector" id="mapcheckbox3"/>
                        <label for="mapcheckbox3">
                            <img src="../assets/img/map-thumbs/1676-Seller.jpg" alt="" ><span>1676 <em>Seller</em></span>
                        </label>
                    </li>
                    <li><input type="checkbox" data-featuretype="all" data-criteria="map_source" data-filtervalue="5"
                               class="map_selector" id="mapcheckbox4"/>
                        <label for="mapcheckbox4">
                            <img src="../assets/img/map-thumbs/1677-Foster.jpg" alt="" ><span>1677 <em>Foster</em></span>
                        </label>
                    </li>
                    <li><input type="checkbox" data-featuretype="all" data-criteria="map_source" data-filtervalue="6"
                               class="map_selector" id="mapcheckbox5"/>
                        <label for="mapcheckbox5">
                            <img
                                    src="../assets/img/map-thumbs/1720-Moll.jpg" alt="" /><span>1720 <em>Moll</em></span>
                        </label>
                    </li>
                    <li><input type="checkbox" data-featuretype="all" data-criteria="map_source" data-filtervalue="7"
                               class="map_selector" id="mapcheckbox6"/>
                        <label for="mapcheckbox6">
                            <img src="../assets/img/map-thumbs/1738-Burghers.jpg" alt="" ><span>1738 <em>Burghers</em></span>
                        </label>
                    </li>
                    <li><input type="checkbox" data-featuretype="all" data-criteria="map_source" data-filtervalue="8"
                               class="map_selector" id="mapcheckbox8"/>
                        <label for="mapcheckbox8">
                            <img src="../assets/img/map-thumbs/1752-Evans.jpg" alt="" ><span>1752 <em>Evans</em></span>
                        </label>
                    </li>
                    <li><input type="checkbox" data-featuretype="all" data-criteria="map_source" data-filtervalue="10"
                               class="map_selector" id="mapcheckbox9"/>
                        <label for="mapcheckbox9">
                            <img src="../assets/img/map-thumbs/1755-Herbert.jpg" alt="" ><span>1755 <em>Herbert</em></span>
                        </label>
                    </li>
                    <li><input type="checkbox" data-featuretype="all" data-criteria="map_source" data-filtervalue="11"
                               class="map_selector" id="mapcheckbox10"/>
                        <label for="mapcheckbox10">
                            <img src="../assets/img/map-thumbs/1755-Moll.jpg" alt="" /><span>1755 <em>Moll</em></span>
                        </label>
                    </li>
                    <li><input type="checkbox" data-featuretype="all" data-criteria="map_source" data-filtervalue="12"
                               class="map_selector" id="mapcheckbox11"/>
                        <label for="mapcheckbox11">
                            <img
                                    src="../assets/img/map-thumbs/1755-Mitchell.jpg" alt="" /><span>1755 <em>Mitchell</em></span>
                        </label>
                    </li>
                    <li><input type="checkbox" data-featuretype="all" data-criteria="map_source" data-filtervalue="13"
                               class="map_selector" id="mapcheckbox12"/>
                        <label for="mapcheckbox12">
                            <img src="../assets/img/map-thumbs/1772-Bowen.jpg" alt="" /><span>1772 <em>Bowen</em></span>
                        </label>
                    </li>
                    <li><input type="checkbox" data-featuretype="all" data-criteria="map_source" data-filtervalue="14"
                               class="map_selector" id="mapcheckbox13"/>
                        <label for="mapcheckbox13">
                            <img src="../assets/img/map-thumbs/1774-Jefferys.jpg" alt="" /><span>1774 <em>Jefferys</em></span>
                        </label>
                    </li>
                    <li><input type="checkbox" data-featuretype="all" data-criteria="map_source" data-filtervalue="15"
                               class="map_selector" id="mapcheckbox14"/>
                        <label for="mapcheckbox14">
                            <img
                                    src="../assets/img/map-thumbs/1778-Hutchins.jpg" alt="" /><span>1778 <em>Hutchins</em></span>
                        </label>
                    </li>
                    <li><input type="checkbox" data-featuretype="all" data-criteria="map_source" data-filtervalue="16"
                               class="map_selector" id="mapcheckbox15"/>
                        <label for="mapcheckbox15">
                            <img src="../assets/img/map-thumbs/1783-Cary.jpg" alt="" /><span>1783 <em>Cary</em></span>
                        </label>
                    </li>
                    <li><input type="checkbox" data-featuretype="all" data-criteria="map_source" data-filtervalue="17"
                               class="map_selector" id="mapcheckbox16"/>
                        <label for="mapcheckbox16">
                            <img src="../assets/img/map-thumbs/1784-Buell.jpg" alt="" /><span>1784 <em>Buell</em></span>
                        </label>
                    </li>
                    <li><input type="checkbox" data-featuretype="all" data-criteria="map_source" data-filtervalue="18"
                               class="map_selector" id="mapcheckbox17"/>
                        <label for="mapcheckbox17">
                            <img
                                    src="../assets/img/map-thumbs/1794-Russell.jpg" alt="" /><span>1794 <em>Russell</em></span>
                        </label>
                    </li>
                    <li><input type="checkbox" data-featuretype="all" data-criteria="map_source" data-filtervalue="19"
                               class="map_selector" id="mapcheckbox18"/>
                        <label for="mapcheckbox18">
                            <img src="../assets/img/map-thumbs/1796-Bradley.jpg" alt="" /><span>1796 <em>Bradley</em></span>
                        </label>
                    </li>


 </ol>
      </section>
    </div>
    </div>

    <div id="legend-wrapper">
        <input type="checkbox" id="legend">
        <label aria-label="map legend list" class="legend-button" for="legend">
          <h2>Legend</h2>
        </label>
        <div class="content">
     <ol>
       <li>Placenames (Indigenous)</li>
       <li>Placenames (European)</li>
       <li>Settlements (Indigenous)</li>
       <li>Settlements (European)</li>
       <li>Principal Rivers</li>
       <li>Pathways and Lines</li>
       <li>Council Fires</li>
       <li>Placenames (Indigenous)</li>
       <li>Placenames (European)</li>
       <li>Settlements (Indigenous)</li>
       <li>Settlements (European)</li>
       <li>Principal Rivers</li>
       <li>Pathways and Lines</li>
       <li>Council Fires</li>
     </ol>
        </div>
    </div>


</div>

<script defer type="text/javascript" src="{{ '/assets/node_modules/leaflet/dist/leaflet.js' | url }}"></script>
<script defer type="text/javascript" src="{{ '/assets/node_modules/leaflet-dvf/dist/leaflet-dvf.js' | url }}"></script>
<script defer type="text/javascript" src="{{ '/assets/js/leaflet/plugins/leaflet.textpath.js' | url }}"></script>
<script defer type="text/javascript" src="{{ '/assets/node_modules/d3/dist/d3.min.js' | url }}"></script>

<script>

    let startLat = {{ bounds[0].lat }};
    let startLng = {{ bounds[0].lng }};
    let startZoom = {{ bounds[0].zoom }};

    errorobj = null;
    let storyURIs = {
        storyFrame: "{{ '/assets/json/BCC_storyframe.json' | url }}",
        slides: "{{ '/assets/json/BCC_slides.json' | url }}",
        lines: "{{ '/assets/json/BCC_lines.json' | url }}",
        points: "{{ '/assets/json/BCC_points.json' | url }}",
        polys: "{{ '/assets/json/BCC_polys.json' | url }}",
        indigenous: "{{ '/assets/json/indigenous_territories.json' | url }}",
        homelands: "{{ '/assets/json/BCC_homelands.json' | url }}",

    }
    //loadStoryMap(storyURIs, L, d3, startLat, startLng, startZoom);
</script>

<script defer type="text/javascript" src="{{ '/assets/js/bcc/main.js' | url }}"></script>


<script>
    // this is for toggle show and hide, not smaller toggle
    /*

    // "Apply to All" toggle for Filters One, for the Map
    const checkboxesOne = document.querySelectorAll(".explore_filter");
    const toggleAllFeatures = document.getElementById("selectallFeatures");
    const toggleAllMaps = document.getElementById("selectallMaps");

    function applyMapFilter(filterValue) {
        const values = filterValue.split('-');
        const start = parseInt(values[0]);
        const end = parseInt(values[1]);

        if (!isNaN(start) && !isNaN(end)) {
            for (let i = start; i <= end; i++) {
                // this is the trigger function where to trigger a range of 1-19 value
                console.log(`Applying filter to map with value ${i} for Filters One`);
            }
        } else {
            console.log("Invalid filter range");
        }
    }

    toggleAllFeatures.addEventListener("change", function () {
        const applyToAll = toggleAllFeatures.checked;
        document.querySelectorAll(".explore_filter").forEach(checkbox => {
            checkbox.checked = applyToAll;
            applyMapFilter(checkbox.getAttribute("data-filtervalue"));
        });
    });

    checkboxesOne.forEach(checkbox => {
        checkbox.addEventListener("change", function () {
            applyMapFilter(checkbox.getAttribute("data-filtervalue"));
        });
    });*/
</script>


</body>
</html>